body {
    background-image: url(image/home-bg2.jpeg);
}

.spoon{
    position: absolute;
    right: 10px;
    margin-top: -340px;
}

.fa {
    display: flex;
    list-style: none;
    text-decoration: none;
    justify-content: space-between;
    gap: 25px;
    list-style-type: none;
    align-items: center;
    margin-top: 50px;
}

.fa a{
    text-decoration: none;
    color: black;
    font-size: small;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   
    
}

.fa a:hover{
    color: red;
    transition: 0.5s;
}

.logo {
    margin-right: 150px;

}

.all {
    margin-right: 80px;
}

.har {
    display: flex;
}

.log {
    margin-left: 50px;
    margin-top: 15px;
}

.back {
    margin-left: 60px;
    border-radius: 30px;
    height: 200px;
    background-image: cover;
    
}

.range{
    margin-top: -180px;
    margin-left: 150px;
    position: absolute;
    color: white;
    font-family: 'Bebas Neue', sans-serif;
}
.ourr{
    margin-left: 400px;
    color: white;
    text-decoration: underline;
    text-decoration-color: yellow;
    text-underline-offset: 12px;
    font-size: 30px;
    font-weight: bolder;
}
.mother{
    font-size: 14px;
}
.tastee{
    margin-left: 200px;
    margin-top: 15px;
    position: absolute;
}

.yyellow{
    background-color: rgba(255, 255, 0, 0.575);
    height:60px;
    width: 170px;
    position: absolute;
    border-radius: 20px 20px 0px 0px;
    margin-top: 60px;
    margin-left: 55px;
}
.topp{
    font-size: 20px;
    position: absolute;
    cursor: pointer;
    background-size: 80px;
    text-decoration: none;
    color: red;
    margin-top: 20px;
    margin-left: 30px;
    font-weight: 900;
    
}

.white1{
    background-color: white;
    height:60px;
    width: 190px;
    position: absolute;
    border-radius: 20px 20px 0px 0px;
    margin-top: 60px;
    margin-left: 230px;
}
.topp1{
    font-size: 20px;
    position: absolute;
    cursor: pointer;
    background-size: 80px;
    text-decoration: none;
    color: black;
    margin-top: 20px;
    margin-left: 20px;
    font-weight: bolder;
}
.topp1:hover{
    color: red;
    transition: 0.5s;
}

.white2{
    background-color: white;
    height:60px;
    width: 150px;
    position: absolute;
    border-radius: 20px 20px 0px 0px;
    margin-top: 60px;
    margin-left: 428px;
}
.topp2{
    font-size: 20px;
    position: absolute;
    cursor: pointer;
    background-size: 80px;
    text-decoration: none;
    color: black;
    margin-top: 20px;
    margin-left: 25px;
    font-weight: bolder;
}
.topp2:hover{
    color: red;
    transition: 0.5s;
}

.white3{
    background-color: white;
    height:60px;
    width: 150px;
    position: absolute;
    border-radius: 20px 20px 0px 0px;
    margin-top: 60px;
    margin-left: 585px;
}
.topp3{
    font-size: 20px;
    position: absolute;
    cursor: pointer;
    background-size: 80px;
    text-decoration: none;
    color: black;
    margin-top: 20px;
    margin-left: 22px;
    font-weight: bolder;
}
.topp3:hover{
    color: red;
    transition: 0.5s;
}

.white4{
    background-color: white;
    height:60px;
    width: 120px;
    position: absolute;
    border-radius: 20px 20px 0px 0px;
    margin-top: 60px;
    margin-left: 742px;
}
.topp4{
    font-size: 20px;
    position: absolute;
    cursor: pointer;
    background-size: 80px;
    text-decoration: none;
    color: black;
    margin-top: 20px;
    margin-left: 23px;
    font-weight: bolder;
}
.topp4:hover{
    color: red;
    transition: 0.5s;
}

.white5{
    background-color: white;
    height:60px;
    width: 100px;
    position: absolute;
    border-radius: 20px 20px 0px 0px;
    margin-top: 60px;
    margin-left: 870px;
}
.topp5{
    font-size: 20px;
    position: absolute;
    cursor: pointer;
    background-size: 80px;
    text-decoration: none;
    color: black;
    margin-top: 20px;
    margin-left: 22px;
    font-weight: bolder; 
}
.topp5:hover{
    color: red;
    transition: 0.5s;
}
.yelloww{
    background-image: url(image/inner-bg-1.jpeg);
    height: 400px;
    width: 1120px;
    margin-top: 120px;
    margin-left: 55px;
}
.whhite{
    margin-left: 40px;
    margin-top: 50px;
}
.chii{
    margin-top: -275px;
    margin-left: 70px;
    position: absolute;
}
.aal{
    margin-left: 500px;
    margin-top: -300px;
}
.iiindo{
    color: rgb(216, 13, 13);
    font-size: 40px;
    font-family: 'Bebas Neue', sans-serif;
}
.indomii{
    margin-top: -17px;
    font-weight: 1000;
}
.themo{
    color: rgb(36, 32, 32);
}

.black {
    height: 420px;
    position: absolute;
    width: 1260px;
    background-color: black;
    
}

.texxt {
    color: #b2720c;
    display: flex;
    gap: 35px;
    margin-left: 350px;
    margin-top: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.texxt h1{
    font-size: 30px;
}
.teexxt{
    margin-top: -13px;
    color: rgb(153, 88, 3);
}
.dufil{
    color: white;
    margin-top: 37px;
}
.bothh{
    margin-top: 115px;
}
.linkk {
    text-decoration: none;
    color: white;
}
.linkk:hover{
    color: rgb(117, 78, 4);
    transition: 0.5s;
}
.linkkk{
    text-decoration: none;
    color: white;
    margin-top: 14px;
    position: absolute;
}
.linkkk:hover{
    color: rgb(142, 94, 5);
    transition: 0.5s;
}
.bi{
    color: rgb(103, 103, 103);
    margin-right: 25px;
}
.bi:hover{
    transition: 0.5s;
    color: white;
}
.bii{
    margin-top: -13px;
}
.biii{
    color: rgb(142, 94, 5);
    margin-right: 10px;
}
.biii2{
    color: rgb(142, 94, 5);
    margin-right: 10px;
}
.faa {
    display: flex;
    list-style: none;
    text-decoration: none;
    list-style-type: none;
    align-items: center;
    gap: 25px;
    margin-top: 50px;
    margin-left: 410px;
}

.faa a{
    text-decoration: none;
    color: rgb(92, 61, 3);
    font-size: xx-small;
}

.faa a:hover{
    color: white;
    transition: 0.5s;
}


.right{
    margin-left: 925px;
    font-size: xx-small;
    color: rgb(90, 59, 4);
    margin-top: -14px;
}
